$neon-green: #2dce2d;
$black: #000;
$white: #fff;
$dark-green: #004d00;
$bright-magenta: #ff00ff;
$bright-orange: #ff4500;
$dark-cyan: #007d7d;
$gray: #242729;
$light-green: #00A900;
$less-dark-green: #006500;
$very-dark-green: #002200;
$bright-blue: #007bff;
$soft-pink: #ff69b4;
$golden-yellow: #ffd700;
$deep-purple: #800080;
$brown: #BFB19E;
$subtle-shadow: rgba(0, 0, 0, 0.2);

html {
  background-color: $gray;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px $subtle-shadow, 0 0 20px $neon-green, 0 0 30px $neon-green;
  }
  50% {
    box-shadow: 0 0 20px $subtle-shadow, 0 0 40px $neon-green, 0 0 60px $neon-green;
  }
  100% {
    box-shadow: 0 0 10px $subtle-shadow, 0 0 20px $neon-green, 0 0 30px $neon-green;
  }
}

body {
  background-color: $neon-green;
  font-family: Urbanist, sans-serif;
  margin: 2em auto;
  max-width: 70ch;
  color: $white;
  line-height: 1.6;
  padding: 1em;
  box-shadow: 0 0 10px $subtle-shadow, 0 0 20px $neon-green, 0 0 30px $neon-green;
  border-radius: 16px;
  overflow: hidden;
  animation: glow 3s infinite;
}

a {
  color: $dark-cyan;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: $deep-purple;
  text-decoration: underline;
}

button {
  background-color: $black;
  color: $neon-green;
  border: 2px solid $neon-green;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 5px $subtle-shadow;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: $neon-green;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
  text-shadow: 1px 1px 3px $dark-green;
  margin-bottom: 0.5em;
}

code {
  background-color: $gray;
  color: $neon-green;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'JetBrains Mono', JetBrains, monospace;
}

::selection {
  background-color: $bright-orange;
  color: $white;
}

.banner-container {
  position: relative;
  display: inline-block;
  border: 2px solid $brown;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px $subtle-shadow;
}

.banner-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-title {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: $white;
  padding: 0.5em 1em;
  font-size: 1.2em;
  border-radius: 8px;
  text-shadow: 0 2px 4px $black;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: right;
}
